<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DIController</servlet-name>
        <servlet-class>maincontrol.DIController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <jsp-file>/WEB-INF/signin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <jsp-file>/WEB-INF/signup.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VendorManager</servlet-name>
        <servlet-class>vendorports.VendorManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationManager</servlet-name>
        <servlet-class>orgports.OrganizationManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <jsp-file>/WEB-INF/vendor/software_reg.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DIController</servlet-name>
        <url-pattern>/DIController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/software_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorManager</servlet-name>
        <url-pattern>/VendorManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationManager</servlet-name>
        <url-pattern>/OrganizationManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>WSServlet</display-name>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

</web-app>
